

@media (min-width: 380px) {     
    .toast{

        position:absolute;
            left: 35%;
            bottom:5em;
            background: rgb(216, 214, 216);
            width: 150px;
            height: 150px;
            font-size: 12px;   
           
        
        }
 
}

@media (min-width: 576px) {
    .toast{

    position:absolute;
        left: 1%;
        top:12em;
        background: rgb(216, 214, 216);
        width: 150px;
        height:150px;
        
        
    
    } }

@media (min-width: 768px) {
   
    .toast{

        position:absolute;
            left: 4%;
            top:10em;
            background: rgb(216, 214, 216);
            width: 200px;
                  
            font-size: 14px;  
        
        }
}

@media (min-width: 992px) {   

.toast{
  
    position:absolute;
        left: 10%;
        top:10em;
        background: rgb(216, 214, 216);
        width: 200px;
        font-size: 15px;  
        
       
    }
}


@media (min-width: 1200px) {     
    .toast{
  
        position:absolute;
            left: 22%;
            top:10em;
            background: rgb(216, 214, 216);
            width: 200px;
           
            font-size: 15px;  
        }
    }

     
    
    @media (min-width: 1320px) {     
        .toast{
      
            position:absolute;
                left: 29%;
                top:10em;
                background: rgb(216, 214, 216);
                width: 200px;
                font-size: 15px;  
            
            }
        }
    
